div {
  width: 100px;
  height: 100px;
}
.effect:hover {
  /*鼠标悬停的状态*/
  transform: scale(1.2); /*变大1.2倍*/
  transition: 200ms; /*用多长时间变过去*/
}

.red-tag {
  background-color: rgb(198, 139, 42);
}
.big-tag {
  width: 150px;
  height: 120px;
  background-color: aqua;
}
a:link {
  /*超链接点击之前的状态*/
  color: red;
}
a:hover {
  /*鼠标悬停的状态*/
  color: black;
}
a:visited {
  color: green;
}
a:active {
  /*鼠标按下之后的状态*/
  color: purple;
}
/*id用#，class用.*/
ul li{
    /*某一个li的祖先结点是ul对其进行操作*/
}